.code-text-small {
	font-size:0.9em !important;
}

.code-text-smaller {
	font-size:0.8em !important;
}

.code-box-extend-left-more {
	margin-left:-100px !important;
}

pre.wider {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

pre {
    background: #3F3F3F;
}
code.fragment {
    margin-top:-20px;
}

pre.fragment-top {
    box-shadow: 12px 12px rgb(50,50,50);
}
pre.fragment-middle {
    margin-top:-45px;
    box-shadow: 12px 12px rgb(50,50,50);
}
.reveal pre.fragment-bottom {
    margin-top:-45px;
    box-shadow: 12px 12px rgb(50,50,50);
}

.fc.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.fc.axis path,
.fc.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.fc.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.fc.label {
    font-size:12pt;
}

.highlight-me {
    color:#27aae1; 
    font-weight: lighter
}
