/* Default Print Stylesheet Template
   by Rob Glazebrook of CSSnewbie.com
   Last Updated: June 4, 2008

   Feel free (nay, compelled) to edit, append, and
   manipulate this file as you see fit. */


/* SECTION 1: Set default width, margin, float, and
   background. This prevents elements from extending
   beyond the edge of the printed page, and prevents
   unnecessary background images from printing */

* {
	-webkit-print-color-adjust: exact;
}

body {
	font-size: 18pt;
	width: 297mm;
	height: 229mm;
	margin: 0 auto !important;
	border: 0;
	padding: 0;
	float: none !important;
	overflow: visible;
    background: white !important;
    color: #333;
 }

 @media print{@page {size: landscape}}

html {
	width: 100%;
	height: 100%;
	overflow: visible;
}

@page {
	size: letter landscape;
	margin: 0;
}

/* SECTION 2: Remove any elements not needed in print.
   This would include navigation, ads, sidebars, etc. */
.nestedarrow,
.controls,
.reveal .progress,
.reveal.overview,
.fork-reveal,
.share-reveal,
.state-background {
	display: none !important;
}

/* SECTION 3: Set body font face, size, and color.
   Consider using a serif font for readability. */
body, p, td, li, div {
	font-size: 18pt;
}

/* SECTION 4: Set heading font face, sizes, and color.
   Differentiate your headings from your body text.
   Perhaps use a large sans-serif for distinction. */
h1,h2,h3,h4,h5,h6 {
	text-shadow: 0 0 0 #000 !important;
    color:#333;
}

.reveal h1,.reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	text-shadow: 0 0 0 #000 !important;
    color:#333;
}

/* SECTION 5: Make hyperlinks more usable.
   Ensure links are underlined, and consider appending
   the URL to the end of the link for usability. */
a:link,
a:visited {
	font-weight: normal;
	text-decoration: underline;
}

/* SECTION 6: more reveal.js specific additions by @skypanther */
ul, ol, div, p {
	visibility: visible;
	position: static;
	width: auto;
	height: auto;
	display: block;
	overflow: visible;
	margin: auto;
}
.reveal {
	width: auto !important;
	height: auto !important;
	overflow: hidden !important;
}
.reveal .slides {
	position: static;
	width: 100%;
	height: auto;

	left: auto;
	top: auto;
	margin: 0 !important;
	padding: 0 !important;

	overflow: visible;
	display: block;

	text-align: center;

	-webkit-perspective: none;
	   -moz-perspective: none;
	    -ms-perspective: none;
	        perspective: none;

	-webkit-perspective-origin: 50% 50%; /* there isn't a none/auto value but 50-50 is the default */
	   -moz-perspective-origin: 50% 50%;
	    -ms-perspective-origin: 50% 50%;
	        perspective-origin: 50% 50%;
}
.reveal .slides section {

	page-break-after: always !important;

	visibility: visible !important;
	position: relative !important;
	width: 100% !important;
	height: 229mm !important;
	min-height: 229mm !important;
	display: block !important;
	overflow: hidden !important;

	left: 0 !important;
	top: 0 !important;
	margin: 0 !important;
	padding: 2cm 2cm 0 2cm !important;
	box-sizing: border-box !important;

	opacity: 1 !important;

	-webkit-transform-style: flat !important;
	   -moz-transform-style: flat !important;
	    -ms-transform-style: flat !important;
	        transform-style: flat !important;

	-webkit-transform: none !important;
	   -moz-transform: none !important;
	    -ms-transform: none !important;
	        transform: none !important;
}
.reveal section.stack {
	margin: 0 !important;
	padding: 0 !important;
	page-break-after: avoid !important;
	height: auto !important;
	min-height: auto !important;
}
.reveal .absolute-element {
	margin-left: 2.2cm;
	margin-top: 1.8cm;
}
.reveal section .fragment {
	opacity: 1 !important;
	visibility: visible !important;

	-webkit-transform: none !important;
	   -moz-transform: none !important;
	    -ms-transform: none !important;
	        transform: none !important;
}
.reveal section .slide-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
}
.reveal section>* {
	position: relative;
	z-index: 1;
}
.reveal img {
	box-shadow: none;
}

img {
    max-height:600px !important;
    visibility: visible !important;
}

.reveal .roll {
	overflow: visible;
	line-height: 1em;
}
.reveal small a {
	font-size: 16pt !important;
}

circle.dot {
    fill: #888;
}

#click-for-print {
    display:none;
}

img.give-dark-bg {
    background:#666 !important;
}

.axis text {
    font: 10px sans-serif;
    fill: #888;
}

.axis path, .axis line {
    fill: #888;
    stroke:white;
    shape-rendering: crispEdges;
}

.reveal {
    color:#333;
}

.reveal p {
    color:#333;
}

#enter-4 > img {
    max-height:600px;
}

.explanation {
    width: 50%;
    padding: 10px;
    font-family: "Helvetica Neue", 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #333;
}

.brush .extent {
    fill-opacity: .1;
    stroke: #888;
    shape-rendering: crispEdges;
}

code, .reveal pre code {
	overflow:visible !important;
	max-height:1500px !important;
	font-size:8pt;
}
